<style>
/* saving this for later
  @font-face {
    font-family: 'Bitcount Prop';
    src: url('/fonts/bitcount-prop.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*/

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono.woff2') format('woff2');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Fraunces';
    src: url('/fonts/fraunces-variable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap; /* Prevents invisible text while loading */
    font-named-instance: 'Regular';
  }

  @font-face {
    font-family: 'Oi';
    src: url('/fonts/oi-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'VT323';
    src: url('/fonts/vt323-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>

<!-- No AI training signals -->
<meta name="robots" content="noai, noimageai">
<meta name="googlebot" content="noai">