<style>
/* saving this for later
  @font-face {
    font-family: 'Bitcount Prop';
    src: url('/fonts/bitcount-prop.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
*/

  @font-face {
    font-family: 'Roboto Mono';
    src: url('/fonts/roboto-mono.woff2') format('woff2');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Audiowide';
    src: url('/fonts/audiowide-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'VT323';
    src: url('/fonts/vt323-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Megrim';
    src: url('/fonts/megrim.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Bruno Ace';
    src: url('/fonts/brunoace-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
</style>